

.login-text{
    color: #f4620d;
}
.login-btn{
    background-color:#f4620d ;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    
}

.login-btn:hover{transform: scale(1.1);}